<h1>Mailbox</h1>

Inbox: <br>
<% @messages.each do |message| %>
<% if message.receiver_id==@user.id %>
From: <%= message.user.username %>
<%= message.content %> <br>
at :<%= message.created_at.strftime("%Y-%b-%d %I:%M%p") %>
<% end %>
<% end %>






Sent messages: <br>
<% @user.messages.each do |message| %>
To: <%= User.find(message.receiver_id).username %> <br>
Content: <br><%= message.content %> <br>
at :<%= message.created_at.strftime("%Y-%b-%d %I:%M%p")%> <br>
<hr>
<% end %>
