<div class="page">

<h1>Mailbox</h1>

<div class="container">
 
<div class="inbox">
<h3>Inbox</h3> 

<% @messages.each do |message| %>
<% if message.receiver_id==@user.id %>
<h4>From: <%= link_to "#{message.user.username}", user_path(message.user) %></h4>
<h4><at :<%= message.created_at.strftime("%Y-%b-%d %I:%M%p") %></h4>
<p><%= message.content %></p> 
<hr>
<% end %>
<% end %>
</div>


<div class="sent">
<h3>Sent</h3>
<% @user.messages.each do |message| %>
<h4>To: <%= link_to "#{User.find(message.receiver_id).username}", user_path(User.find(message.receiver_id)) %></h4> <br>
<h4>at :<%= message.created_at.strftime("%Y-%b-%d %I:%M%p")%> </h4><br>
<p><%= message.content %> </p>
<hr>
<% end %>
</div>

</div>

</div>

