<h2>Create Account</h2>



<% if flash[:error] %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(flash[:error].count, "error") %>
      prohibited this post from being saved:
    </h2>
    <ul>
    <% flash[:error].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

    <%= form_for @user, controller: "users", action: "create" do |f| %>

    
    <label>Username:</label>
    <%=f.text_field :username %><br>

    <label>Password:</label>
    <%=f.password_field :password %>

    <label>Password Confirmation:</label>
     <%= f.password_field :password_confirmation %>


    <label>First Name:</label>
    <%=f.text_field :first_name %><br>

    <label>Last Name:</label>
    <%=f.text_field :last_name %><br>

    <label>Age:</label>
    <%= f.text_field :age%>

    <label>Bio:</label><br>
    <%=f.text_area :bio %><br>



    <label>Interests</label><br>

    <% @categories.each do |category| %>
        

    <%= f.fields_for :categories, category do |i| %>
        <h2><%= category.name %></h2><br><br>
        <%=i.fields_for :user_interests do |ui| %>
            <%= ui.collection_check_boxes(:interest_id, category.interests, :id, :name) %>
            <%end%>
            <%end%>
            <%end%>







    <%=f.submit%>
    <% end %>
    <% end %>
