<div class="page">

    
        <%if @user_view%>
            <h2>Dashboard</h2>
            <%= link_to "Edit profile", edit_user_path(@user) %>
        <%else%>
            <h2><%=@user.username%></h2>
        <%end%>


<div class="container">

<div class="profile">

<h3><%=@user.first_name%>, <%=@user.age%> </h3>


<% if @user.picture_url==nil %>
<%= image_tag("636705502595800000.png", size: "150x150", :class => "avatar", alt: "No photo") %>
    
<% else %>
    <%= image_tag(@user.picture_url(:standard), :alt => @user.username,  :class => "avatar" ) %>
<% end %>


<p><%=@user.bio%></p>

<h3>Interests</h3>
<ul>
<%@user.interests.each do |interest| %>
<li><%=interest.name%></li>

<%end%>
</li>
</div>




<%if @user_view%>
<div class="message-section">
    <%else%>
<div class="message-section", style="display: none;">
<%end%>




<h3>Inbox</h3>
<% @messages.each do |message| %>
<% if message.receiver_id==@user.id %>
<h4>From: <%= link_to "#{message.user.username}", user_path(message.user) %></h4>
<h4><at :<%= message.created_at.strftime("%Y-%b-%d %I:%M%p") %>/h4>
<p><%= message.content %></p> <br>
<hr>
<% end %>
<% end %>


<div class="message-links">
        <h3>Messages</h3>
        <%= link_to "See all messages", show_all_url %><br>
        <%= link_to "Send a message", messages_url %>
       
    </div>

</div>
</div>



<%if @user_view%>
<div class="private-show-section">


    <h2>Your Matches</h2>

    <div class="wrapper">
        <% if @match == nil || @match.size == 0 %>
        <p> You have no matches! Edit your profile and select some more interests.</p>
        <%else%>

        <%@match.each do |user|%>

            <div class="user-grid">


                </h2> <%= link_to "#{user.username}", user_path(user) %> </h2>
                <h3><%= user.first_name %>, <%= user.age %></h3>

                <p> <%= user.bio %></p>
                <h3>Shared Interests</h3>
                <ul></ul>
                <% @user.shared_interests(user).each do |interest| %>
                        <li><%= interest.name %></li>
                <% end %>
            </ul>

                <% website=get_website("#{@user.shared_interests(user)[rand(@user.shared_interests(user).size)].name}") %>
                <h2> Meetup Suggestion</h2>
                <p><%=website["start"][0..9]  %>: <%= website["title"] %> </p>
                <p><%= get_website_address(website["location"][0],website["location"][1]) %></p>
                <%= image_tag(google_map(website["location"][0],website["location"][1]), :style => "max-width: 100%")%>


            </div>

        <% end %>
        <%end%>
    </div>

</div>
<%end%>


</div>
