<h2>Your Profile</h2>


<%=@user.first_name%>


<%=@user.age%>

<%=@user.bio%>

<%=@user.interests%>


<h2>Your Top 3 Friend Matches are:</h2>

<ul>
<%   @match.each do |user|%>
<% @array=[] %>
Username: <%=  user.username %> <br>
Name: <%= user.first_name %> <br>
Age: <%= user.age %> <br>
Bio: <%= user.bio %> <br>
The interests you share are:
<% user.interests.each do |interest| %>
<br><% if @user.interests.include?(interest) %>
<% @array << interest %>
<%= interest.name %>
<% end %>
<% end %> <br>
<% website=@api.get_website("#{@array[0].name}") %>
Did you know about this event? <%= website["title"] %> on the :
<%=website["start"][0..9]  %> in:
<%= website["location"][0] %>
<%= website["location"][1] %>
<%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{website["location"][0]},#{website["location"][1]}&key=AIzaSyDSCn98mXt3dzzS_TF_CtqQhLzYU0Cx5Mc") %>
<hr>
<% end %>
</ul>
<%= link_to "Send a new message to your Match", messages_url %>
<%= link_to "See your messages", show_all_url %>
